.tf-btn {
    font-family: var(--poppins);
    padding: 14.5px 34.5px;
    color: var(--white);
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include transition3;
    background-color: var(--primary);
    border-radius: 99px;
    &:hover {
        background-color: var(--primary-hover);
    }    
}
.btn-line{
    padding: 13.5px 34.5px;
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--line-2);
    box-sizing: border-box;
    &:hover{
        background-color: var(--primary);
        color: var(--white);
    }
}
.btn-icon {
    .icon {
        font-size: 20px;
    }
    gap: 10px;
    .text {
        padding-left: 10px;
        border-left: 1px solid rgba(255, 255, 255, 0.16);
    }
    &.style-2{
        .text{
            padding: 0;
            border: 0;
            padding-right: 10px;
            border-right: 1px solid rgba(255, 255, 255, 0.16);
        }
    }
}
.accordion-item {
    border: none;
    .accordion-button {
        &:focus {
            box-shadow: none;
        }
        &:not(.collapsed) {
            background-color: transparent;
            box-shadow: none;
            color: inherit;

            .btn-open-sub {
                &::before {
                    transform: rotate(90deg);
                }
            }
        }
        &::after {
            content: none;
        }
    }
   
}
.nav-menu-mobile{
    .accordion-body {
        padding: 10px 15px;
        padding-right: 0px;
    }
}
.accordion-body{
    padding: 0;
}

.btn-open-sub {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &::after,
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        transition: 0.4s ease 0.1s;
        margin: auto;
    }
    &::before {
        width: 2px;
        height: 12px;
    }
    &::after {
        width: 12px;
        height: 2px;
    }
}

.tag-check{
    padding: 6px 10px 6px 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #F4F5F7;
    border-radius: 1000px;
    @include transition3;
    cursor: pointer;
    .icon{
        width: 24px;
        height: 24px;
        background-color: var(--white);
        color: var(--white);
        border: 1px solid var(--grey-3);
        font-size: 14px;
        border-radius: 50%;
        @include flex(center, center);
    }
    .text{
        font-family: var(--poppins);
        font-size: 14px;
        line-height: 21px;
        font-weight: 600;
    }
    &.active, &:hover{
        background-color: var(--primary);
        border-color: var(--primary);
        .icon{
            color: var(--primary);
        }
        .text{
            color: var(--white);
        }
    }
}
