



.box-navigation{
    display: flex;
    align-items: center;
    gap: 6px;
    .navigation-arrow{
        width: 16px;
        height: 16px;
        @include flex(center,center);
        font-size: 16px;
        cursor: pointer;
        .icon{
            color: var(--primary);
            font-weight: 700;
        }
    }
}
.sw-pagination{
    gap: 8px;
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        background-color: var(--white);
        opacity: 1;
        margin: 0 !important;
    }
    .swiper-pagination-bullet-active{
        background-color: var(--primary) !important;

    }

    &.style-2{
        .swiper-pagination-bullet{
            background-color: var(--rgba-primary-4);
        }
    }
    &:not(.swiper-pagination-lock) {
        margin-top: 15px;
    }
}

.thumbs-sw-pagination .swiper-slide {
    width: auto;
}
.single-gallery-wrapper{
    img{
        width: 100%;
    }
    .thumbs-sw-pagination{
        margin-top: 8px;
    }
    .img-thumb-pagination,
    .image-sw-single{
        border-radius: 14px;
        overflow: hidden;
    }
}