.nav-tab-template{
    display: flex;
    gap: 10px;
    overflow: auto;
    flex-wrap: nowrap;
    margin-bottom: 26px;
    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--line);
    }
    &::-webkit-scrollbar-thumb {
        background: var(--rgba-primary-3);
    }
    .nav-item{
        width: 100%;
    }
    .nav-link{
        font-family: var(--poppins);
        width: 100%;
        padding:10px;
        border-radius: 99px;
        font-size: 14px;
        line-height: 21px;
        font-weight: 600;
        white-space: nowrap;
        color: var(--primary);
        text-align: center;
        border: 1px solid var(--rgba-primary-3);
        @include transition3;
        &.active,
        &:hover{
            background-color: var(--primary);
            border-color: var(--primary);
            color: var(--white);
        }
    }
    &.st2{
        .nav-item{
            width: auto;
        }
        .nav-link{
            padding: 12px 20px;
        }
    }
}
