
.layout-wrap{
    display: flex;
    .main-content{
        padding-left: 30px;
        border-left: 1px solid var(--line-2);
        flex-grow: 1;
        width: calc(100% - 300px);
    }
    .main-content-inner{
        .box{
            &:not(:last-child){
                margin-bottom: 50px;
            }
        }
        .h7{
            color: var(--black-3);
        }
        .h9{
            color: var(--black-3);
            line-height: 19.8px;
        }
        .title{
            margin-bottom: 26px;
        }
        .title-v2{
            margin-bottom: 30px;
        }
        .sub-box{
            &:not(:last-child){
                margin-bottom: 30px;
            }
           
           .list-check-file{
                margin-top: 18px;
                .item{
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
           }
        }
        .text-sub{
            margin-top: 12px;
       }
        .label{
            margin-bottom: 12px;
            font-weight: 600;
            font-family: var(--poppins);
        }
        .group-ip-2{
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr;
        }
        .group-ip-3{
            display: grid;
            gap: 30px;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .tag-check{
            min-width: 112px;
        }
        .group-file-upload{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
    }
    .table-statistical{
        margin-bottom: 26px;
    }
}
.tox{
    &.tox-tinymce{
        border: 1px solid var(--line-2);
        .tox-tbtn{
            border: 1px solid var(--line-2);
        }
        .tox-statusbar{
            display: none;
        }
        .tox-edit-area::before{
            border: none;
        }
        .tox-tbtn--bespoke {
            background: #fff;
        }
        .tox-editor-header{
            box-shadow: unset !important;
        }
        
    }
}



.file-upload-item{
    .box-upload-item{
        padding: 42px 30px;
        border: 2px dashed #E2E2E2;
        text-align: center;
        border-radius: 16px;
        .box-btn-file{
            position: relative;
            display: inline-block;
            .tf-btn{
                min-width: 196px;
            }
            input{ 
                position: absolute;
                inset: 0;
                opacity: 0;
            } 
        }
        p{
            margin-top: 15px;
        }
    }
    
}

.sidebar-menu-dashboard {
    width: 300px;
    min-width: 300px;
    background: #fff;
    // height: 100%;
    // top: 0px;
    // left: 0;
    // bottom: 0;
    // overflow-y: auto;
    // z-index: 20;
    // transition: all .4s ease;
    // transform: translateX(0);
    @include transition3;
    padding-right: 50px;
    .nav-menu-item {
        .nav-menu-link{
            padding: 14px 16px;
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 15px;
            line-height: 21px;
            font-weight: 500;
            color: var(--black-2);
            font-family: var(--poppins);
            border-radius: 14px;
            .icon{
                color: var(--rgba-black-3);
                font-size: 18px;
            }
            
        }
        &:not(:last-child){
            margin-bottom: 6px;
        }

        &.active{
            .nav-menu-link{
                background-color: var(--primary);
                color: var(--white);
                font-weight: 700;
                .icon {
                    color: var(--white);
                }
                
            }
            
        }
    }
    .nav-menu-logout{
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid var(--line-2);
    }
    .btn-hide-text{
        margin-top: 6px;
        padding: 14px 16px;
        display: inline-flex;
        align-items: center;
        border-radius: 14px;
        cursor: pointer;
        @include transition3;
        svg{
            
            transform: rotate(180deg);
        }
        
    }
    &.visible-nav-text{
        .btn-hide-text{
            svg{
                transform: unset;
            }
        }
    }
    .text{
        white-space: nowrap;
        // -webkit-transition: all 0.3s ease;
        // -moz-transition: all 0.3s ease;
        // -ms-transition: all 0.3s ease;
        // -o-transition: all 0.3s ease;
        // transition: all 0.3s ease;
    }
}

.show-mb-admin {
    margin-bottom: 30px;
    display: none;
    span{
        color: var(--primary);
        font-weight: 600;
    }
}

.flat-overview{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    .overview-item{
        flex-grow: 1;
    }
}
.overview-item{
    .box-top{
        padding: 20px;
        border-radius: 14px;
        background-color: #F6ECEA;
        position: relative;
        .title-overview{
            font-family: var(--poppins);
            font-weight: 600;
            font-size: 16px;
            line-height: 17.6px;
            color: var(--black-1);    
        }
        .count{
            font-family: var(--poppins);
            display: inline-block;
            margin-top: 16px;
            font-size: 26px;
            line-height: 28.6px;
            color: #624741;
            font-weight: 700;
        }
    }
    .box-bottom{
        @include flex(center, space-between);
        margin-top: -15px;
        gap: 20px;
        padding: 28px 20px 8px;
        border-radius:  0px 0px 14px 14px;
        background-color: #E2D8D6;
        .title-date{
            font-family: var(--poppins);
            font-weight: 500;
            font-size: 14px;
            line-height: 15.4px;
            color: var(--black-3);
        }
        .count-date{
            font-family: var(--poppins);
            margin-top: 8px;
            display: inline-block;
            font-weight: 600;
            font-size: 18px;
            line-height: 19.8px;
            color: #624741;
        }
        .icon{
            font-size: 24px;
            color: #624741;
        }
    }
    &.bg-2{
        .box-top{
            background-color: #E4F0EE;
            .count{
                color: #2C4E48;
            }
        }
        .box-bottom{
            background-color: #DAE6E4;
            .icon,
            .count-date{
                color: #2C4E48;
            }
        }
    }
    &.bg-3{
        .box-top{
            background-color: #FBF1E5;
            .count{
                color: #5F4F3C;
            }
        }
        .box-bottom{
            background-color: #EDE4D5;
            .icon,
            .count-date{
                color: #5F4F3C;
            }
        }
    }
    &.bg-4{
        .box-top{
            background-color: #E7EEF4;
            .count{
                color: #3C4852;
            }
        }
        .box-bottom{
            background-color: #D9E3EC;
            .icon,
            .count-date{
                color: #3C4852;
            }
        } 
    }
}
.flat-earning-wrap{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    .earning-item{
        flex-grow: 1;
    }
}
.earning-item{
    border-radius: 14px;
    padding: 20px;
    background-color: #E4F0EE;
    display: flex;
    align-items: center;
    gap: 14px;
    position: relative;
    .box-icon{
        border-radius: 999px;
        width: 52px;
        height: 52px;
        background-color: #2C4E48;
        .icon{
            font-size: 22px;
            color: var(--white);
        }
    }
    .title-earning{
        margin-top: 4px;
        line-height: 28.6px;
        color: #2C4E48;
    }
    .value-earing{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        display: flex;
        align-items: center;
        gap: 8px;
        .icon{
            font-size: 24px;
            color: #2C4E48;
        }
        .value{
            font-family: var(--poppins);
            font-weight: 700;
            color: #2C4E48;
        }
    }
    .content{
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }
    &.bg-1{
        background-color: #F6ECEA;
        .box-icon{
            background-color: #624741;
        }
        .title-earning{
            color: #624741;
        }
        .value-earing{
            .value,
            .icon{
                color: #624741;

            }
        }
    }
    &.bg-2{
        background-color: #FBF1E5;
        .title-earning{
            color: #5F4F3C;
        }
        .box-icon{
            background-color: #5F4F3C;
        }
        .value-earing{
            .value,
            .icon{
                color: #5F4F3C;

            }
        }
    }
}


.table-public-file{
    min-width: 800px;
    margin-bottom: 24px;
    .item-product{
        // padding-right: 30px;
        .banner-img{
            border-radius: 4px;
            width: 80px;
            height: 50px;
            overflow: hidden;
            flex-shrink: 0;
        }
        .title-template{
            font-family: var(--poppins);
            font-weight: 500;
            color: #08091B;
        }
    }
    tbody{
        td{
            &:not(:last-child)
            {
                padding-right: 20px;
            }
        }
    }
    thead{
        th{
            font-family: var(--poppins);
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: var(--black-1);
            padding-bottom: 24px;
            border-bottom: 1px solid var(--line-2);
            &:not(:last-child){
                padding-right: 30px;
            }
            &:first-child{
                width: 40%;
            }
        }
    }
    .item{
        td{
            padding: 24px 0px;
            align-content: flex-start;
            border-bottom: 1px solid var(--line-2);
        }
    }
    tr{
        white-space: unset;
    }
    .status-1{
        line-height: 26px;
        padding: 3px 16px;
        border-radius: 999px;
        display: inline-block;
        &.complete{
            background-color: rgba(0, 183, 179, 0.3);
            color: #006462;
        }
    }
    .status-2 {
        line-height: 26px;
        border-radius: 999px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        min-width: 62px;
        &.Draft{
            background-color: #E4E4E4;
            color: #737373;
        }
        &.Active{
            background-color: rgba(0, 183, 179, 0.3);
            color: #006462;
        }
    }

    .list-action{
        svg{
            pointer-events: none;
        }
        .item{
            display: flex;
            align-items: center;
            gap: 8px;
            line-height: 21px;
            font-family: var(--poppins);
            font-weight: 600;
            cursor: pointer;
        }
        li{
            &:not(:last-child){
                margin-bottom: 8px;
            }
        }
    }
    .invoice{
        background-color: var(--rgba-primary-2);
        border-radius: 999px;
        .icon{
            font-size: 26px;
            color: var(--primary);
        }
    }
    .list-star{
        display: flex;
        gap: 3px;
        .icon{
            font-size: 12px;
            color: #E1E1E1;
        }
    }
}
.table-statements{
    thead{
        th{
            &:first-child{
                width: 37%;
            }
        }
    }
    .btn-view{
        min-width: 100px;
        min-height: 44px;
        padding: 10px;
    }
}
.table-statistical{
    thead{
        th{
            
            width: 33.3% !important;
        }
    }
}
.table-download{
    margin-bottom: 34px;
    thead{
        th{
            &:first-child{
                width: 33%;
            }
            &:nth-child(2){
                width: 15%;
            }
            width: 10%;
        }
    } 
}
.banner-improve {
	background-image: url("../../../public/images/banner/banner-improve.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 46px 47px 40px;
    border-radius: 14px;
    @include flex(center, space-between);
    gap: 28px;

    .desc{
        margin-top: 20px;
    }
    .tf-btn{
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 240px;
    }
}
.box-upload-profile{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    .box-upload{
        margin: 10px 0px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 4px;
        border-radius: 999px;
        border: 1px solid var(--line-2);
        input{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0;
            margin: 0;
            opacity: 0;
        }
        .tf-btn{
            padding: 10px 18px;
        }
    }
    .content-right{
        flex-grow: 1;
    }
}
.statements-item{
    padding: 20px;
    border-radius: 14px;
    background-color: #E4F0EE;
    display: flex;
    align-items: center;
    gap: 14px;
    .content-right{
        flex-grow: 1;
    }
    .box-icon{
        background-color: #2C4E48;
        .icon{
            color: var(--white);
            font-size: 22px;
        }
    }
    .price{
        font-family: var(--poppins);
        font-weight: 700;
        font-size: 26px;
        line-height: 28.6px;
        color: #2C4E48;
    }
    &.bg-2{
        background-color: #FBF1E5;
        .box-icon{
            background-color: #5F4F3C;
        }
        .price{
            color: #5F4F3C;
        }
    }
}

.box-payment-request{
    .group-ip-3{
        gap: 22px;
    }
}
.card-payment-item{
    padding: 30px;
    border-radius: 16px;
    border: 1px solid var(--line-2);
    @include transition3;
    .title-payment{
        margin-top: 10px;
        @include transition3;
    }
    &:hover,&.active {
        box-shadow: 0px 10px 20px 0px #1405250F;
        .title-payment{
            color: var(--primary);
        }
    }
}

.meta-chart-option{
    margin-bottom: 20px;
    @include flex(center, space-between);
    flex-wrap: wrap;
    gap: 15px;
    .content-left{
        .text{
            font-size: 12px;
            line-height: 14.52px;
        }
        .top{
            margin-bottom: 2px;
        }
        .num{
            font-family: var(--poppins);
            font-weight: bold;
            font-size: 22px;
            line-height: 30.8px;
            color: var(--black-1);
        }
        .icon{
            font-size: 24px;
            color: var(--primary-sub);
        }
    }
    .content-right{
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }
    .react-select{
        min-width: 179px;
        
    }
    .tf-btn{
        background-color: var(--white);
        color: var(--primary);
        border-color: var(--primary);
        height: 44px;
        min-width: 100px;
        &:hover{
            color: var(--white);
        }
    }
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background-color: var(--primary);
    display: inline-block;
}

.layout-wrap{
    .visible-nav-text{
        width: 82px;
        min-width: 82px;
        padding: 16px;
        .nav-menu-link{
            .text{
                display: none;
            }
        }
    }
}