
.layout-wrap{
    display: flex;
    .main-content{
        padding-left: 30px;
        border-left: 1px solid var(--line-2);
    }
    .main-content-inner{
        .box{
            &:not(:last-child){
                margin-bottom: 50px;
            }
        }
        .title{
            margin-bottom: 26px;
        }
    }
}


.sidebar-menu-dashboard {
    width: 300px;
    min-width: 300px;
    background: #fff;
    // height: 100%;
    // top: 0px;
    // left: 0;
    // bottom: 0;
    // overflow-y: auto;
    // z-index: 20;
    // transition: all .4s ease;
    // transform: translateX(0);
    padding-right: 50px;
    .nav-menu-item {
        .nav-menu-link{
            padding: 14px 16px;
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 15px;
            line-height: 21px;
            font-weight: 500;
            color: var(--black-2);
            font-family: var(--poppins);
            border-radius: 14px;
            .icon{
                color: var(--rgba-black-3);
                font-size: 18px;
            }
            &:hover{
                background-color: var(--primary);
                color: var(--white);
                font-weight: 700;
                .icon {
                    color: var(--white);
                }
            }
        }
        &:not(:last-child){
            margin-bottom: 6px;
        }

        &.active{
            .nav-menu-link{
                background-color: var(--primary);
                color: var(--white);
                font-weight: 700;
                .icon {
                    color: var(--white);
                }
                
            }
            
        }
    }
    .nav-menu-logout{
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid var(--line-2);
    }
}

.show-mb-admin {
    margin-bottom: 30px;
    display: none;
    span{
        color: #ed2027;
        font-weight: 600;
    }
}