/* Media Queries
-------------------------------------------------------------- */
// min-width:
@media only screen and (min-width: 991px) {
    .footer {
        .footer-inner-left {
            padding-right: 25px;
        }
    }
    .flat-title-v2{
        margin-bottom: 50px;
    }
    .flat-feature-v2{
        .flat-title-v2{
            max-width: 723px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            padding: 0 90px;
        }
    }
    .wrap-single-comment{
        .reply{
            padding-left: 64px;
        }
    }
    .btn-search{
        min-width: 196px;
    }
    .flat-banner-about{
        display: grid;
	    grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }
    .box-about-text-v2{
        padding-bottom: 80px;
        .content{
            max-width: 630px;
            margin: auto;
        }
    }
    .sw-pagination{
        &:not(.swiper-pagination-lock) {
            margin-top: 30px;
        }
    }
    .tf-row-layout{
        flex-direction: row;
        .tf-layout-content{
            width: calc(72% - 15px);
        }
        .tf-layout-sidebar{
            width: calc(28% - 15px);
        }
    }
}
@media only screen and (min-width: 1150px) {
    .banner-page-title {
        &.style-2 {
            .title {
                padding-right: 250px;
            }
        }
    }
    .banner-v1 {
        .banner-content {
            .title {
                padding: 0 80px;
            }
        }
    }
}

// max-width:
@media only screen and (max-width: 1800px) {
}

@media only screen and (max-width: 1440px) {
    .dropdown {
        .dropdown-menu {
            padding: 15px;
        }
        .dropdown-item {
            padding: 10px;
        }
    }
    .header {
        .header-top {
            gap: 20px;
        }
        .header-inner {
            gap: 20px;
        }
        .header-box-icon {
            .dropdown {
                .item-logout {
                    margin-top: 15px;
                    padding-top: 10px;
                }
            }
        }
    }

    .mega-menu {
        padding: 20px;
        flex-wrap: wrap;
        gap: 20px;
        .box-menu-categories {
            padding-right: 0;
            &:not(:last-child) {
                padding-right: 0px;
                margin-right: 0px;
                border: none;
            }
        }
        .tf-iconbox:not(:last-child) {
            margin-right: 0;
            flex-grow: unset;
        }
    }
}


@media only screen and (max-width: 1199px) {
    .header {
        .search-box-dropdown {
            .box-dropdown {
                display: none;
            }
            .box-search {
                &::before {
                    display: none;
                }
            }
        }
    }
    .banner-page-title {
        .box-right {
            display: none;
        }
    }
    .step-benefit-item{
        margin-bottom: 20px;
        .arrow{
            display: none;
        }
    }
   
}
@media only screen and (max-width: 1149px) {
}
@media only screen and (max-width: 991px) {
    h1,
    .h1 {
        font-size: 50px;
        line-height: 60px;
    }
    h2,
    .h2 {
        font-size: 40px;
        line-height: 50px;
    }
    h3,
    .h3 {
        font-size: 30px;
        line-height: 34px;
    }
    h4,
    .h4{
        font-size: 24px;
        line-height: 27.4px;
    }
   

    .mobile-button {
        display: block;
    }
    .footer {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .footer-inner-right {
        margin-top: 40px;
    }
    .header {
        .header-box-icon .box-icon,
        .header-inner,
        .header-bottom {
            display: none;
        }
    }
    .widget-count {
        gap: 15px;
    }
    .flat-title-v2{
        h2{
            br{
                display: none;
            }
        }
    }
    .creator-item{
        .box-right{
            gap: 15px;
        }
    } 
    .flat-spacing-1{
        padding: 60px 0px;
    }
    .filter-wrap{
        margin-bottom: 30px;
    }
    .card-box-2{
        padding: 15px;
    }
    .flat-template-category{
        padding: 20px 0px 60px;
    }
    .meta-select-filter{
        justify-content: flex-start;
    }
    .flat-single-wrapper{
        flex-direction: column-reverse;
    }
    .sidebar-single-wrap {
        margin-bottom: 30px;
    }
    .wrap-single-review {
        .heading {
            .title-rate-review{
                font-size: 50px;
                line-height: 50px;
            }
            span{
                font-size: 20px;
                line-height: 40px;
            }
        }
    }
    .flat-banner{
        &.banner-v2{
            .banner-content{
                top: 20%;
            }
            img{
                height: 450px;
            }
        }
    }
    .flat-counter-2{
        margin-top: -60px;
    }
    .search-box{
        input{
            padding-left: 20px;
            padding-right: 70px;
        }
        .tf-btn{
            padding: 15px;
        }
    }
    .our-item {
        .box-content{
            margin-top: 20px;
            gap: 15px;
        }
    }
}
@media only screen and (max-width: 768px){
    .box-about-text{
        margin-top: 30px;
    }
    .box-contact{
        padding: 15px;
    }
    .form-comment{
        .ip-group-2{
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}


@media only screen and (max-width: 575px) {
    h1,
    .h1 {
        font-size: 40px;
        line-height: 50px;
    }
    h2,
    .h2 {
        font-size: 30px;
        line-height: 40px;
    }
    h3,
    .h3 {
        font-size: 20px;
        line-height: 24px;
    }
    h6{
        font-size: 20px;
        line-height: 22px;
    }
    .header {
        .box-account {
            .avt {
                display: none;
            }
        }
    }
    .flat-banner {
        .banner-content {
            .tf-btn {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .box-counter .count .suffix {
        font-size: 18px;
        line-height: 18px;
    }
    .creator-item{
        padding: 15px;
    }
}
