/* Media Queries
-------------------------------------------------------------- */
// min-width:
@media only screen and (min-width: 991px) {
    .footer {
        .footer-inner-left {
            padding-right: 25px;
        }
    }
    .flat-title-v2{
        margin-bottom: 50px;
    }
    .flat-feature-v2{
        .flat-title-v2{
            max-width: 723px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            padding: 0 90px;
        }
    }
    .wrap-single-comment{
        .reply{
            padding-left: 64px;
        }
    }
    .btn-search{
        min-width: 196px;
    }
    .flat-banner-about{
        display: grid;
	    grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }
    .box-about-text-v2{
        padding-bottom: 80px;
        .content{
            max-width: 630px;
            margin: auto;
        }
    }
    .sw-pagination{
        &:not(.swiper-pagination-lock) {
            margin-top: 30px;
        }
    }
    .tf-row-layout{
        flex-direction: row;
        .tf-layout-content{
            width: calc(72% - 15px);
        }
        .tf-layout-sidebar{
            width: calc(28% - 15px);
        }
    }
    .tf-row-layout-v2{
        flex-direction: row;
        .tf-layout-content{
            width: calc(57% - 15px);
        }
        .tf-layout-sidebar{
            width: calc(43% - 15px);
        }
    }

    .flat-title-v3{
        margin-bottom: 50px;
    }
    .flat-wrap-maintenance{
        .box-content{
            p{
                br{
                    display: block;
                }
            }
        }
    }
    .card-box-3{
        padding: 30px;
    }
    .banner-improve{
        h3{
            line-height: 48px;
        }
    }
    .flat-earning-wrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .flat-account-wrapper{
        display: flex;
	    height: 100vh;
        .banner-left{
            width: 48.4%;
        }
        .content-right{
            padding: 40px;
            width: 51.6%;
            
        }
        &.flat-account-signup{
            height: 100%;
        }
    }
}
@media only screen and (min-width: 1150px) {
    .banner-page-title {
        &.style-2 {
            .title {
                padding-right: 250px;
            }
        }
    }
    .banner-v1 {
        .banner-content {
            .title {
                padding: 0 80px;
            }
        }
    }
    .box-cart-coupon{
        padding-right: 140px;
    }
    .card-box-3{
        padding: 60px;
    }
    .flat-form-account{
        margin-left: -100px;
    }

}

// max-width:


@media only screen and (max-width: 1440px) {
    .dropdown {
        .dropdown-menu {
            padding: 15px;
        }
        .dropdown-item {
            padding: 10px;
        }
    }
    .header {
        .header-top {
            gap: 20px;
        }
        .header-inner {
            gap: 20px;
        }
        .header-box-icon {
            .dropdown {
                .item-logout {
                    margin-top: 15px;
                    padding-top: 10px;
                }
            }
        }
    }

    .mega-menu {
        padding: 20px;
        flex-wrap: wrap;
        gap: 20px;
        .box-menu-categories {
            padding-right: 0;
            &:not(:last-child) {
                padding-right: 0px;
                margin-right: 0px;
                border: none;
            }
        }
        .tf-iconbox:not(:last-child) {
            margin-right: 0;
            flex-grow: unset;
        }
    }
}


@media only screen and (max-width: 1199px) {
    .header {
        .search-box-dropdown {
            .box-dropdown {
                display: none;
            }
            .box-search {
                &::before {
                    display: none;
                }
            }
        }
    }
    .banner-page-title {
        .box-right {
            display: none;
        }
    }
    .step-benefit-item{
        margin-bottom: 20px;
        .arrow{
            display: none;
        }
    }

    .show-mb-admin{
        display: inline-block;
    }
    .sidebar-menu-dashboard{
        padding: 30px;
        position: fixed;
        height: 100%;
        top: 0px;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 1045;
        transition: all .4s ease;
        transform: translateX(0);
        border-right: 1px solid var(--line-2);
    }
    .layout-wrap{
        display: block;
        .main-content{
            width: 100%;
            padding-left: 0;
            border: none;
        }
        .sidebar-menu-dashboard{
            transform: translateX(-100%);
        }
        &.visible-sidebar{
            .sidebar-menu-dashboard{
                transform: translateX(0);
            }
            .overlay-dashboard{
                opacity: 1;
                visibility: visible;
                transition: all .3s ease;
            }
        }
    }
    .overlay-dashboard {
        position: fixed;
        z-index: 1040;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(22, 30, 45, .3);
        transition: all .3s ease 0s;
        visibility: hidden;
        opacity: 0;
    }
    .sidebar-menu-dashboard{
        .fixed-sidebar{
            position: unset;
        }
    }
    .sidebar-profile-wrap{
        .list-badge{
            flex-wrap: wrap;
        }
    }
}
@media only screen and (max-width: 1149px) {

}
@media only screen and (max-width: 991px) {
    h1,
    .h1 {
        font-size: 50px;
        line-height: 60px;
    }
    h2,
    .h2 {
        font-size: 40px;
        line-height: 50px;
    }
    h3,
    .h3 {
        font-size: 30px;
        line-height: 34px;
    }
    h4,
    .h4{
        font-size: 24px;
        line-height: 27.4px;
    }
   

    .mobile-button {
        display: block;
    }
    .footer {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .footer-inner-right {
        margin-top: 40px;
    }
    .header {
        .header-box-icon .box-icon,
        .header-inner,
        .header-bottom {
            display: none;
        }
    }
    .widget-count {
        gap: 15px;
    }
    .flat-title-v2{
        h2{
            br{
                display: none;
            }
        }
    }
    .creator-item{
        .box-right{
            gap: 15px;
        }
    } 
    .flat-spacing-1{
        padding: 60px 0px;
    }
    .filter-wrap{
        margin-bottom: 30px;
    }
    .card-box-2{
        padding: 15px;
    }
    .flat-template-category{
        padding: 20px 0px 60px;
    }
    .meta-select-filter{
        justify-content: flex-start;
    }
    .flat-single-wrapper{
        flex-direction: column-reverse;
    }
    .sidebar-single-wrap {
        margin-bottom: 30px;
    }
    .wrap-single-review {
        .heading {
            .title-rate-review{
                font-size: 50px;
                line-height: 50px;
            }
            span{
                font-size: 20px;
                line-height: 40px;
            }
        }
    }
    .flat-banner{
        &.banner-v2{
            .banner-content{
                top: 20%;
            }
            img{
                height: 450px;
            }
        }
    }
    .flat-counter-2{
        margin-top: -60px;
    }
    .search-box{
        input{
            padding-left: 20px;
            padding-right: 70px;
        }
        .tf-btn{
            padding: 15px;
        }
    }
    .our-item {
        .box-content{
            margin-top: 20px;
            gap: 15px;
        }
    }
    .box-card-checkout{
        padding: 15px;
    }
    .table-cart{
        .item-product{
            br{
                display: none;
            }
        }
    }
    .box-cart-coupon{
        margin-bottom: 30px;
    }
    .verify-action-wrap{
        padding: 0px 60px;
    }
    .wrap-swiper {
        .navigation-circle-arrow{
            margin-top: 10px;
            transform: unset;
            position: unset;
        }
    }
    .banner-improve{
        padding: 30px;
        .banner-img{
            display: none;
        }
    }
    .layout-wrap{
        .main-content-inner{
            .group-ip-3{
                grid-template-columns: 1fr;
            }
        }
    }
    .file-upload-item .box-upload-item{
        padding: 30px;
    }
    .flat-earning-wrap{
        .earning-item{
            .value-earing{
                position: unset;
                transform: unset;
            }
        }
    }
    .sidebar-profile-wrap {
        margin-bottom: 30px;
    }
    .banner-profile{
        .avatar-check{
            width: 80px;
            height: 80px;
            bottom: -12%;
            .avatar{
                width: 70px;
                height: 70px;
            }
            .check{
                width: 28px;
                height: 28px;
                right: -6px;
            }
        }
    }
    .flat-banner-profile{
        padding: 60px 0px 80px;
    }
}
@media only screen and (max-width: 768px){
    .box-about-text{
        margin-top: 30px;
    }
    .box-contact{
        padding: 15px;
    }
    .form-comment{
        .ip-group-2{
            flex-wrap: wrap;
            gap: 30px;
        }
    }
    .flat-wrap-checkout {
        .group-2-ip{
            flex-wrap: wrap;
        }
    }
    .layout-wrap{
        .main-content-inner{
            .group-ip-2{
                grid-template-columns: 1fr;
            }
            .group-file-upload{
                grid-template-columns: 1fr;
            }
        }
    }
    .meta-chart-option{
        .or{
            display: none;
        }
    }
    
}


@media only screen and (max-width: 575px) {
    h1,
    .h1 {
        font-size: 40px;
        line-height: 50px;
    }
    h2,
    .h2 {
        font-size: 30px;
        line-height: 40px;
    }
    h3,
    .h3 {
        font-size: 20px;
        line-height: 24px;
    }
    h6{
        font-size: 20px;
        line-height: 22px;
    }
    .header {
        .box-account {
            .avt {
                display: none;
            }
        }
    }
    .flat-banner {
        .banner-content {
            .tf-btn {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .box-counter .count .suffix {
        font-size: 18px;
        line-height: 18px;
    }
    .creator-item{
        padding: 15px;
    }
    .banner-checkout{
        flex-wrap: wrap;
    }
    .box-cart-coupon{
        flex-wrap: wrap;
        .tf-btn{
            width: 100%;
        }
    }
    .flat-form-account{
        .group-2{
            flex-wrap: wrap;
        }
    }
}
