// banner
.flat-banner {
	position: relative;
	&.banner-v1 {
		img {
			width: 100%;
			height: 550px;
			object-fit: cover;
		}
		.banner-content {
			top: 23%;
			text-align: center;

			.subtitle {
				display: flex;
				justify-content: center;
				gap: 4px;
			}
		}
	}
	&.banner-page-title {
		img {
			width: 100%;
			height: 340px;
			object-fit: cover;
		}
		.banner-content {
			top: 50%;
			transform: translateY(-50%);
			.title {
				margin-bottom: 0;
			}
			.subtitle {
				margin-top: 20px;
			}
		}
	}
	&.banner-page-search {
		img {
			width: 100%;
			height: 288px;
			object-fit: cover;
		}
	}
	.banner-content {
		position: absolute;
		left: 0;
		right: 0;
		max-width: 1320px;
		width: 100%;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.title {
			margin-bottom: 20px;
		}
		.subtitle {
			color: var(--black-1);
			.icon {
				color: var(--primary);
				font-size: 24px;
			}
			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}
		.tf-btn {
			padding-left: 40px;
			padding-right: 40px;
			margin-top: 20px;
		}
	}

	.box-right {
		width: 431px;
	}
}
// counter
.box-counter {
	.top {
		padding: 30px;
		border-radius: 16px;
		background-color: #f6ecea;
		position: relative;
	}
	.count {
		display: flex;
		color: #624741;
		.suffix {
			font-size: 28px;
			line-height: 28px;
		}
	}
	.bottom {
		padding: 31px 30px 16px 30px;
		display: flex;
		align-items: center;
		gap: 4px;
		background-color: #e2d8d6;
		margin-top: -15px;
		border-radius: 0 0 16px 16px;
	}
	.title {
		margin-top: 11px;
		font-family: var(--poppins);
		font-size: 16px;
		line-height: 17.6px;
		color: var(--black-1);
		font-weight: 600;
	}
	.desc {
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		font-family: var(--poppins);
		color: var(--black-2);
	}
	.icon {
		font-size: 20px;
		color: #624741;
	}
	&.bg-2 {
		.count {
			color: #5f4f3c;
		}
		.top {
			background-color: #fbf1e5;
		}
		.bottom {
			background-color: #ede4d5;
		}
		.icon {
			color: #5f4f3c;
		}
	}
	&.bg-3 {
		.top {
			background-color: #e7eef4;
		}
		.bottom {
			background-color: #d9e3ec;
		}
		.count {
			color: #3c4852;
		}
		.icon {
			color: #3c4852;
		}
	}
	&.bg-4 {
		.top {
			background-color: #e4f0ee;
		}
		.bottom {
			background-color: #dae6e4;
		}
		.count {
			color: #2c4e48;
		}
		.icon {
			color: #2c4e48;
		}
	}
}

.widget-count {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	.box-counter {
		flex-grow: 1;
	}
}
.flat-counter {
	margin-top: -78px;
}
.flat-counter-2 {
	margin-top: -91px;
}

// template item
.template-box {
	display: block;
	border-radius: 14px;
	overflow: hidden;
	.archive-banner {
		position: relative;
		overflow: hidden;
		display: block;
		&::after {
			position: absolute;
			content: "";
			inset: 0;
			background-color: rgba(0, 0, 0, 0.5019607843);
			opacity: 0;
			@include transition3;
		}
	}
	.image-banner {
		display: block;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include transition3;
		}
	}
	&:hover {
		.archive-banner {
			&::after {
				opacity: 1;
			}
			img {
				transform: scale(1.05);
			}
		}
	}
	.archive-content {
		border: 1px solid #eeeeee;
		border-top: transparent;
		padding: 15px;
		border-radius: 0px 0px 14px 14px;
		.content-top {
			padding-bottom: 14px;
			margin-bottom: 14px;
			border-bottom: 1px solid#EEEEEE;
			.title {
				font-weight: 700;
				font-size: 15px;
				line-height: 16.5px;
				color: var(--black-3);
				margin-bottom: 6px;
				font-family: var(--poppins);

				a {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					width: 100%;
				}
			}
		}
		.author-box {
			.name {
				font-size: 12px;
				line-height: 13.2px;
				color: #7b7b7b;
			}
		}
		.price {
			font-family: var(--poppins);
			font-weight: 500;
			font-size: 15px;
			line-height: 16.5px;
			color: var(--primary);
		}
		.tag {
			padding: 0px 8.5px;
			border-radius: 999px;
			background-color: var(--primary-sub);
			font-weight: 600;
			font-size: 14px;
			line-height: 26px;
			min-height: 26px;
			font-family: var(--poppins);
			color: var(--white);
		}
		.content-bottom {
			@include flex(center, space-between);
			.title {
				margin-bottom: 6px;
				font-size: 12px;
				line-height: 13.2px;
			}
			.text {
				font-size: 14px;
				line-height: 21px;
				color: #222222;
			}
			.icon {
				font-size: 13px;
				color: var(--black-3);
			}
			.icon-star {
				color: #ffa800;
			}
			.box-right {
				display: flex;
				gap: 14px;
			}
		}
	}
}

.flat-title {
	margin-bottom: 26px;
	.sub-title{
		margin-top: 8px;
	}
	.view-all{
		display: flex;
		gap: 6px;
		color: var(--primary);
		font-family: var(--poppins);
		font-weight: 500;
		font-size: 15px;
		line-height: 16.5px;
		.icon{
			font-size: 16px;
			font-weight: 600;
		}
	}
}
.flat-title-v2{
	margin-bottom: 30px;
	h2{
		margin-bottom: 20px;
	}
}
.flat-template{
	.box{
		margin-bottom: 26px;
	}
}
.flat-feature-v2{
	background-image: url("../../../public/images/banner/feature.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.flat-title-v2{
		margin-bottom: 30px;
	}
}

.creator-item{
	padding: 30px;
	background-color: var(--white);
	border-radius: 14px;
	.archive-top{
		margin-bottom: 36px;
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	.box-right{
		display: flex;
		align-items: center;
		gap: 40px;
	}
	.box-profile{
		display: flex;
	}
	.banner-img{
		display: flex;
		gap: 10px;
		.image{
			display: block;
			border-radius: 15px;
			overflow: hidden;
		}
	}
	.archive-bottom{
		display: flex;
		align-items: center;
		gap: 21px;
		overflow: auto;
		.btn-more{
			flex-shrink: 0;
		}
		.banner-img{
			.image{
				min-width: 153px;
			}
		}
	}
	.btn-more{
		width: 70px;
		height: 70px;
		border-radius: 50%;
		border: 1px solid var(--line);
		@include flex(center, center);
	}
}
.box-profile{
	display: flex;
	align-items: center;
	gap: 20px;
	.avatar-check{
		width: 80px;
		height: 80px;
		background-clip: padding-box;
        padding: 2px;
		background-color: var(--white);
		border: 2px solid var(--primary);
		border-radius: 50%;
		@include flex(center,center);
		// &::before {
        //     content: "";
        //     position: absolute;
        //     inset: 0;
        //     z-index: -1;
        //     margin: -2px;
		// 	border-radius: inherit;
        //     background-image: linear-gradient(102.29deg, #450D87 11.89%, #00B7B3 77.5%);
		
        // }


	}
	.info{
		.sub-name{
			margin-top: 6px;
			font-size: 14px;
			line-height: 15.4px;
			color: #7B7B7B;
			display: inline-block;
		}
	}

}
.avatar-check{
	position: relative;
	.check{
		position: absolute;
		bottom: 0;
		right: -2px;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		@include flex(center,center);
		background-color: var(--primary-sub);
		border: 2px solid var(--white);
		.icon{
			font-size: 12px;
			color: var(--white);
		}
	}
}
.tf-sw-feature-v2{
	.creator-item{
		.archive-bottom{
			// overflow: unset;
		}
	}
	
}

// table  ranking
.wrap-ranking{
	border-radius: 14px ;
	overflow: hidden;
	border: 1px solid #EEEEEE;
}
.table-ranking{
	thead{
		tr{
			background-color: #F9F4FF;
		}
		th{
			padding: 20px 20px 20px 30px;
			font-family: var(--poppins);
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: var(--black-1);
			&:first-child{
				width: 13%;
			}
		}
	}
	tbody{
		td{
			padding: 22px 20px 22px 30px;
			align-content: center;
			
		}
		tr{
			&:not(:last-child){
				td{
					border-bottom: 1px solid #EEEEEE;
				}
			}
		}
	}
	.author-box{
		display: flex;
		align-items: center;
		gap: 6px;
		img{
			border-radius: 50%;
		}
	}

}
.pagination-box{
	display: flex;
	flex-wrap: wrap;
	gap: 9px;
	.nav-link{
		width: 40px;
		height: 40px;
		@include flex(center, center);
		font-size: 14px;
		line-height: 21px;
		font-weight: 600;
		font-family: var(--poppins);
		color: var(--black-1);
		border-radius: 50%;
		border: 1px solid transparent;
		background-color: var(--white);
		.icon{
			font-size: 18px;
			font-weight: 500;
		}
		&:hover,
		&.active{
			background-color: var(--primary);
			color: var(--white);
			border-color: var(--primary);
		}
	}
	.arrow{
		border-color: var(--line-2);
	}
}
.breadcrumb{
	display: flex;
	padding: 16px 0px;
	border-bottom: 1px solid #F0F0F5;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 0px;
	.item{
		color: #7B7B7B;
		font-size: 12px;
		line-height: 13.2px;
		position: relative;
		&:not(:last-child){
			padding-right: 20px;
			&::after{
				position: absolute;
				font-family: var(--fontIcon);
				content: "\e908";
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
.flat-ranking{
	.pagination-wrap{
		margin-top: 26px;
	}
}
.filter-wrap{
	.box-title{
		margin-bottom: 30px;
		@include flex(center, space-between);
	}
	.box-clear{
		display: flex;
		align-items: center;
		gap: 6px;
		span{
			color: var(--black-1);
		}
		.icon{
			font-size: 20px;
		}
	}
	.box-filter{
		&:not(:last-child){
			margin-bottom: 30px;
		}
		.card-header{
			.icon{
				@include transition3;
				font-size: 20px;
				font-weight: 500;
				color: var();
			}
			.collapsed{
				.icon{
					transform: rotate(180deg);
				}
			}
			.accordion-button{
				@include flex(center, space-between);
				padding: 0;
			}
		}
		.accordion-body{
			margin-top: 16px;
			.tag-check{
				flex-grow: 1;
			}
			&:not(.not-bg){
				background-color: var(--rgba-primary-1);
				border-radius: 14px;
				padding: 16px;
			}
		}
		.box-check{
			&:not(:last-child){
				margin-bottom: 10px;
			}
			label{
				font-weight: 400;
			}
		}
		
	}
	.box-range-price{
		margin-top: 20px;
		.box-top{
			display: flex;
			align-items: flex-end;
			gap: 10px;
			span{
				flex-shrink: 0;
				width: 7px;
				height: 1px;
				background-color: var(--black-1);
				margin-bottom: 20px;
			}
			.title-price{
				margin-bottom: 10px;
				font-size: 12px;
				line-height: 16.8px;
				color: var(--black-2);
			}

		}
		.box-price{
			margin-top: 18px;
		}
		input{
			padding: 10px;
			color: #7C818B;
		}
		.value-price{
			span{
				font-size: 12px;
				line-height: 16.8px;
				color: var(--black-2);
			}
		}

	}
	.btn-filter{
		border-radius: 999px;
		font-family: var(--poppins);
		background-color: var(--primary);
		color: var(--white);
		font-weight: 500;
		padding: 7.5px 18px;
	}
}
.meta-select-filter{
	padding: 5px 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
	.group-select-filter{
		display: flex;
		align-items: center;
		gap: 30px;
	}
	.dropdown-select{
		display: flex;
		gap: 8px;
		.dropdown-toggle{
			padding: 0;
			padding-right: 20px;
			min-width: 120px;
		}
	}
	
}