// banner
.flat-banner {
	position: relative;
	&.banner-v1 {
		img {
			width: 100%;
			height: 550px;
			object-fit: cover;
		}
		.banner-content {
			top: 23%;
			text-align: center;

			.subtitle {
				display: flex;
				justify-content: center;
				gap: 4px;
			}
		}
	}
	&.banner-page-title {
		img {
			width: 100%;
			height: 340px;
			object-fit: cover;
		}
		.banner-content {
			top: 50%;
			transform: translateY(-50%);
			.title {
				margin-bottom: 0;
			}
			.subtitle {
				margin-top: 20px;
			}
		}
	}
	&.banner-page-search {
		img {
			width: 100%;
			height: 288px;
			object-fit: cover;
		}
	}
	&.banner-v2{
		img {
			width: 100%;
			height: 400px;
			object-fit: cover;
		}
		.banner-content {
			top: 25%;
			.title {
				margin-bottom: 0;
			}
			.subtitle {
				margin-top: 20px;
			}
		}
	}
	.banner-content {
		position: absolute;
		left: 0;
		right: 0;
		max-width: 1320px;
		width: 100%;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.title {
			margin-bottom: 20px;
		}
		.subtitle {
			color: var(--black-1);
			.icon {
				color: var(--primary);
				font-size: 24px;
			}
			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}
		.tf-btn {
			padding-left: 40px;
			padding-right: 40px;
			margin-top: 20px;
		}
	}

	.box-right {
		width: 431px;
	}
}
// counter
.box-counter {
	.top {
		padding: 30px;
		border-radius: 16px;
		background-color: #f6ecea;
		position: relative;
	}
	.count {
		display: flex;
		color: #624741;
		.suffix {
			font-size: 28px;
			line-height: 28px;
		}
	}
	.bottom {
		padding: 31px 30px 16px 30px;
		display: flex;
		align-items: center;
		gap: 4px;
		background-color: #e2d8d6;
		margin-top: -15px;
		border-radius: 0 0 16px 16px;
	}
	.title {
		margin-top: 11px;
		font-family: var(--poppins);
		font-size: 16px;
		line-height: 17.6px;
		color: var(--black-1);
		font-weight: 600;
	}
	.desc {
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		font-family: var(--poppins);
		color: var(--black-2);
	}
	.icon {
		font-size: 20px;
		color: #624741;
	}
	&.bg-2 {
		.count {
			color: #5f4f3c;
		}
		.top {
			background-color: #fbf1e5;
		}
		.bottom {
			background-color: #ede4d5;
		}
		.icon {
			color: #5f4f3c;
		}
	}
	&.bg-3 {
		.top {
			background-color: #e7eef4;
		}
		.bottom {
			background-color: #d9e3ec;
		}
		.count {
			color: #3c4852;
		}
		.icon {
			color: #3c4852;
		}
	}
	&.bg-4 {
		.top {
			background-color: #e4f0ee;
		}
		.bottom {
			background-color: #dae6e4;
		}
		.count {
			color: #2c4e48;
		}
		.icon {
			color: #2c4e48;
		}
	}
}

.widget-count {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	.box-counter {
		flex-grow: 1;
	}
}
.flat-counter {
	margin-top: -78px;
}
.flat-counter-2 {
	margin-top: -91px;
}

// template item
.template-box {
	display: block;
	border-radius: 14px;
	overflow: hidden;
	.archive-banner {
		position: relative;
		overflow: hidden;
		display: block;
		&::after {
			position: absolute;
			content: "";
			inset: 0;
			background-color: rgba(0, 0, 0, 0.5019607843);
			opacity: 0;
			@include transition3;
		}
	}
	.image-banner {
		display: block;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include transition3;
		}
	}
	&:hover {
		.archive-banner {
			&::after {
				opacity: 1;
			}
			img {
				transform: scale(1.05);
			}
		}
	}
	.archive-content {
		border: 1px solid #eeeeee;
		border-top: transparent;
		padding: 15px;
		border-radius: 0px 0px 14px 14px;
		.content-top {
			padding-bottom: 14px;
			margin-bottom: 14px;
			border-bottom: 1px solid#EEEEEE;
			.title {
				font-weight: 700;
				font-size: 15px;
				line-height: 16.5px;
				color: var(--black-3);
				margin-bottom: 6px;
				font-family: var(--poppins);

				a {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					width: 100%;
				}
			}
		}
		.price {
			font-family: var(--poppins);
			font-weight: 500;
			font-size: 15px;
			line-height: 16.5px;
			color: var(--primary);
		}
		.tag {
			padding: 0px 8.5px;
			border-radius: 999px;
			background-color: var(--primary-sub);
			font-weight: 600;
			font-size: 14px;
			line-height: 26px;
			min-height: 26px;
			font-family: var(--poppins);
			color: var(--white);
		}
		.content-bottom {
			@include flex(center, space-between);
			.title {
				margin-bottom: 6px;
				font-size: 12px;
				line-height: 13.2px;
			}
			.text {
				font-size: 14px;
				line-height: 21px;
				color: #222222;
			}
			.icon {
				font-size: 13px;
				color: var(--black-3);
			}
			.icon-star {
				color: #ffa800;
			}
			.box-right {
				display: flex;
				gap: 14px;
			}
		}
	}
}
.author-box {
	.name {
		font-size: 12px;
		line-height: 13.2px;
		color: #7b7b7b;
	}
}

.flat-title {
	margin-bottom: 26px;
	.sub-title{
		margin-top: 8px;
	}
	.view-all{
		display: flex;
		gap: 6px;
		color: var(--primary);
		font-family: var(--poppins);
		font-weight: 500;
		font-size: 15px;
		line-height: 16.5px;
		.icon{
			font-size: 16px;
			font-weight: 600;
		}
	}
}
.flat-title-v2{
	margin-bottom: 30px;
	h2{
		margin-bottom: 20px;
	}
}
.flat-template{
	.box{
		margin-bottom: 26px;
	}
}
.flat-feature-v2{
	background-image: url("../../../public/images/banner/feature.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.flat-title-v2{
		margin-bottom: 30px;
	}
}

.creator-item{
	padding: 30px;
	background-color: var(--white);
	border-radius: 14px;
	.archive-top{
		margin-bottom: 36px;
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	.box-right{
		display: flex;
		align-items: center;
		gap: 40px;
	}
	.box-profile{
		display: flex;
	}
	.banner-img{
		display: flex;
		gap: 10px;
		.image{
			display: block;
			border-radius: 15px;
			overflow: hidden;
		}
	}
	.archive-bottom{
		display: flex;
		align-items: center;
		gap: 21px;
		overflow: auto;
		.btn-more{
			flex-shrink: 0;
		}
		.banner-img{
			.image{
				min-width: 153px;
			}
		}
	}
	.btn-more{
		width: 70px;
		height: 70px;
		border-radius: 50%;
		border: 1px solid var(--line);
		@include flex(center, center);
	}
}
.box-profile{
	display: flex;
	align-items: center;
	gap: 20px;
	.avatar-check{
		width: 80px;
		height: 80px;
		background-clip: padding-box;
        padding: 2px;
		background-color: var(--white);
		border: 2px solid var(--primary);
		border-radius: 50%;
		@include flex(center,center);
		// &::before {
        //     content: "";
        //     position: absolute;
        //     inset: 0;
        //     z-index: -1;
        //     margin: -2px;
		// 	border-radius: inherit;
        //     background-image: linear-gradient(102.29deg, #450D87 11.89%, #00B7B3 77.5%);
		
        // }


	}
	.info{
		.sub-name{
			margin-top: 6px;
			font-size: 14px;
			line-height: 15.4px;
			color: #7B7B7B;
			display: inline-block;
		}
	}

}
.avatar-check{
	position: relative;
	.check{
		position: absolute;
		bottom: 0;
		right: -2px;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		@include flex(center,center);
		background-color: var(--primary-sub);
		border: 2px solid var(--white);
		.icon{
			font-size: 12px;
			color: var(--white);
		}
	}
}
.tf-sw-feature-v2{
	.creator-item{
		.archive-bottom{
			// overflow: unset;
		}
	}
	
}

// table  ranking
.wrap-ranking{
	border-radius: 14px ;
	overflow: hidden;
	border: 1px solid #EEEEEE;
}
.table-ranking{
	thead{
		tr{
			background-color: #F9F4FF;
		}
		th{
			padding: 20px 20px 20px 30px;
			font-family: var(--poppins);
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: var(--black-1);
			&:first-child{
				width: 13%;
			}
		}
	}
	tbody{
		td{
			padding: 22px 20px 22px 30px;
			align-content: center;
			
		}
		tr{
			&:not(:last-child){
				td{
					border-bottom: 1px solid #EEEEEE;
				}
			}
		}
	}
	.author-box{
		display: flex;
		align-items: center;
		gap: 6px;
		img{
			border-radius: 50%;
		}
	}

}
.pagination-box{
	display: flex;
	flex-wrap: wrap;
	gap: 9px;
	.nav-link{
		width: 40px;
		height: 40px;
		@include flex(center, center);
		font-size: 14px;
		line-height: 21px;
		font-weight: 600;
		font-family: var(--poppins);
		color: var(--black-1);
		border-radius: 50%;
		border: 1px solid transparent;
		background-color: var(--white);
		.icon{
			font-size: 18px;
			font-weight: 500;
		}
		&:hover,
		&.active{
			background-color: var(--primary);
			color: var(--white);
			border-color: var(--primary);
		}
	}
	.arrow{
		border-color: var(--line-2);
	}
}
.breadcrumb{
	display: flex;
	padding: 16px 0px;
	border-bottom: 1px solid #F0F0F5;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 0px;
	.item{
		color: #7B7B7B;
		font-size: 12px;
		line-height: 13.2px;
		position: relative;
		&:not(:last-child){
			padding-right: 20px;
			&::after{
				position: absolute;
				font-family: var(--fontIcon);
				content: "\e908";
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
.flat-ranking{
	.pagination-wrap{
		margin-top: 26px;
	}
}
.filter-wrap{
	.box-title{
		margin-bottom: 30px;
		@include flex(center, space-between);
	}
	.box-clear{
		display: flex;
		align-items: center;
		gap: 6px;
		span{
			color: var(--black-1);
		}
		.icon{
			font-size: 20px;
		}
	}
	.box-filter{
		&:not(:last-child){
			margin-bottom: 30px;
		}
		.card-header{
			.icon{
				@include transition3;
				font-size: 20px;
				font-weight: 500;
				color: var();
			}
			.collapsed{
				.icon{
					transform: rotate(180deg);
				}
			}
			.accordion-button{
				@include flex(center, space-between);
				padding: 0;
			}
		}
		.accordion-body{
			margin-top: 16px;
			.tag-check{
				flex-grow: 1;
			}
			&:not(.not-bg){
				background-color: var(--rgba-primary-1);
				border-radius: 14px;
				padding: 16px;
			}
		}
		.box-check{
			input{
				flex-shrink: 0;
			}
			&:not(:last-child){
				margin-bottom: 10px;
			}
			label{
				font-weight: 400;
			}
		}
		
	}
	.box-range-price{
		margin-top: 20px;
		.box-top{
			display: flex;
			align-items: flex-end;
			gap: 10px;
			span{
				flex-shrink: 0;
				width: 7px;
				height: 1px;
				background-color: var(--black-1);
				margin-bottom: 20px;
			}
			.title-price{
				margin-bottom: 10px;
				font-size: 12px;
				line-height: 16.8px;
				color: var(--black-2);
			}

		}
		.box-price{
			margin-top: 18px;
		}
		input{
			padding: 10px;
			color: #7C818B;
		}
		.value-price{
			span{
				font-size: 12px;
				line-height: 16.8px;
				color: var(--black-2);
			}
		}

	}
	.btn-filter{
		border-radius: 999px;
		font-family: var(--poppins);
		background-color: var(--primary);
		color: var(--white);
		font-weight: 500;
		padding: 7.5px 18px;
	}
}
.meta-select-filter{
	padding: 5px 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
	margin-bottom: 39px;
	.group-select-filter{
		display: flex;
		align-items: center;
		gap: 30px;
	}
	
	
}
.flat-template-category{
	padding: 0px 0px 80px;
	.box{
		margin-bottom: 30px;
	}
}
.fixed-sidebar {
    position: -webkit-sticky;
    position: sticky;
	top: 50px;
}
.box-text-notification{
	
	.box-p{
		h6{
			margin-bottom: 26px;
			color: #000000;
			line-height: 28.6px;
		}
		.h9{
			margin-bottom: 16px;
			color: #1C1C1E;
		}
		&:not(:last-child){
			margin-bottom: 26px;
		}
		p{
			color: var(--black-1);
			&:not(:last-child){
				margin-bottom: 16px;
			}
		}
	}
}


// single
.sidebar-single-wrap{
	.box-title{
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #F0F0F5;
		h6{
			margin-bottom: 10px;
		}
		.icon-heart-line{
			font-size: 26px;
		}
	}
	.box-price{
		@include flex(center, space-between);
		margin-bottom: 30px;
		.price{
			font-family: var(--poppins);
			font-weight: 600;
			font-size: 30px;
			line-height: 36px;
			color: var(--primary);
		}
	}
	.meta-list{
		display: flex;
		align-items: center;
		gap: 30px;
		.item{
			&:not(:last-child){
				padding-right: 30px;
				border-right: 1px solid #ECF0F4;
				
			}
			.title{
				margin-bottom: 6px;
				font-size: 12px;
				line-height: 13.2px;
				color: #7B7B7B;
			}
			.icon{
				font-size: 13px;
				color:#000000;
				
			}
			.icon-star{
				color:#FFA800;
			}
			.text{
				font-size: 14px;
				line-height: 21px;
				color: #222222;
			}
		}
		
	}
	.card-box-1{
		margin-bottom: 20px;
		.top{
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #ECE8F4;
		}
		.bottom{
			.icon{
				font-size: 24px;
			}
		}
		fieldset{
			&:not(:last-child){
				margin-bottom: 10px;
			}
		}

	}
	.box-btn{
		.tf-btn{
			&:not(:last-child){
				margin-bottom: 10px;
			}
		}
	}
	.box-social{
		margin: 40px 0px;
		.icon{
			color: var(--rgba-black-2);
			font-size: 20px;
			&:hover{
				color: var(--primary);
			}
		}
	}
	.wrap-information{
		.title{
			color: #000000;
		}
	}
	.box-info{
		margin-top: 20px;
		.item-info{
			display: flex;
			gap: 20px;
			&:not(:last-child){
				padding-bottom: 12px;
				margin-bottom: 12px;
				border-bottom: 1px solid #F0F0F5;
			}
		}
		.title-item-info{
			width: 30%;
			flex-shrink: 0;
		}
	}
	.breadcrumb{
		padding: 0;
		border: none;
		gap: 5px;
		.item{
			font-size: 14px;
			line-height: 19.6px;
			color: var(--primary);
			&:not(:last-child){
				padding-right: 10px;
				&::after{
					content: "/";
				}
			}
		}
		
	}
	.tag{
		color: #7B7B7B;
		font-size: 12px;
		line-height: 13.2px;
		padding: 8px 12px;
		border: 1px solid var(--line-2);
		border-radius: 14px;
		&:hover{
			color: var(--primary);
		}
	}
	.box-need-more{
		margin-bottom: 40px;
		.h7,p{
			margin-bottom: 20px;
		}
	}
}
.card-box-1{
	border-radius: 14px;
	padding: 16px;
	background-color: var(--rgba-primary-1);
}
.card-box-2{
	padding: 30px;
	border-radius: 14px;
	border: 1px solid var(--line-2);
}
.single-gallery-wrapper{
	margin-bottom: 50px;
}
.single-wrap-content{
	margin-bottom: 50px;
}
.wrap-single-detail{
	.h9{
		margin-bottom: 16px;
	}
	.box{
		&:not(:last-child){
			margin-bottom: 26px;
		}
	}
	ul {
		padding-left: 20px;
		li{
			list-style: disc;
		}
	}
}
.wrap-single-comment{
	.box{
		&:not(:last-child){
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid var(--line-2);
		}
	}
	.reply{
		margin-top: 20px;
	}
	.submit-comment-form{
		margin-top: 40px;
		.tf-btn{
			margin-top: 30px;
		}
	}
}

.comment-item{
	display: flex;
	gap: 14px;
	.cmt-text{
		margin: 18px 0px;
	}
	.info{
		@include flex(center, space-between);
		gap: 8px;
		flex-wrap: wrap;
		.name{
			color: #333E48;
		}
		.box-author{
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}
	.tag{
		font-family: var(--poppins);
		border-radius: 999px;
		padding: 4px 10px;
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		&.author{
			background-color: var(--rgba-primary-sub-1);
			color: var(--primary-sub);
		}
		&.purchased{
			background-color: var(--rgba-primary-4);
			color: var(--primary);
		}
	}
	.date-time{
		font-size: 12px;
		line-height: 16.8px;
		color: #7C818B;
	}
	.action{
		display: flex;
		align-items: center;
		gap: 16px;
		.action-item{
			display: flex;
			align-items: center;
			gap: 6px;
			.text{
				font-size: 12px;
				line-height: 16.8px;
				color: #7C818B;
			}
		}
	}

}

.wrap-single-report{
	.title{
		margin-bottom: 26px;
	}
	.box{
		margin-bottom: 30px;
		.title-font{
			margin-bottom: 12px;
		}
	}
}
.single-wrap-creator{
	h6{
		margin-bottom: 26px;
		line-height: 28.6px;
		color: #000000;
	}
	.tf-btn{
		min-width: 140px;
	}
	.creator-item{
		border: 1px solid var(--line-2);
	}
}

.wrap-single-review{
	.box-rate-review{
		margin-bottom: 30px;
		display: inline-flex;
		flex-direction: column;
		gap: 9px;
	}
	.heading{
		display: inline-flex;
		gap: 5px;
		.title-rate-review{
			font-family: var(--poppins);
			font-size: 70px;
			line-height: 70px;
			font-weight: 700;
			color: var(--primary);
		}
		span{
			margin-top: 20px;
			font-size: 40px;
			line-height: 60px;
			color: #E1E1E1;
			font-family: var(--poppins);
		}
	}
	.content-bottom{
		text-align: center;
		p{
			margin-top: 4px;
		}
	}
	.rate-progress-item{
		&:not(:last-child){
			margin-bottom: 10px;
		}
	}
	.box-rate-progress{
		margin-bottom: 40px;
	}
	.box-rate-check{
		display: flex;
		align-items: center;
		gap: 20px;
		margin-bottom: 30px;
	}
}

.list-star{
	display: flex;
	align-items: center;
	gap: 3px;
	.icon{
		font-size: 14px;
		color: #FCB500;
		&:last-child{
			color: #E1E1E1;
		}
	}
}
.rate-progress-item{
	display: flex;
	align-items: center;
	gap: 10px;
	.progress-rate {
		flex-grow: 1;
	}
	.number-rating{
		.icon{
			color: #FCB500;
		}
	}
}
.flat-wrapper-search{
	margin-top: -47px;
}
.box-about-text{
	.text-1{
		margin-bottom: 30px;
	}
}

.box-img-gallery-1{
	display: grid;
	grid-template-areas: 
		"item1 item3 item3"
		"item2 item3 item3";
	.item-1{
		grid-area: item1;
	}
	.item-2{
		grid-area: item2;
	}
	.item-3{
		grid-area: item3;
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.box-img-gallery-2{
	display: grid;
	grid-template-areas: 
		"item1 item2 item4 item5"
		"item3 item3 item4 item6";
		.item-1{
			grid-area: item1;
		}
		.item-2{
			grid-area: item2;
		}
		.item-3{
			grid-area: item3;
		}
		.item-4{
			grid-area: item4;
		}
		.item-5{
			grid-area: item5;
		}
		.item-6{
			grid-area: item6;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
}
.box-about-text-v2{
	padding-bottom: 40px;
	border-bottom: 1px solid #F0F0F5;
	.logo{
		margin-bottom: 30px;
	}
	.text-1{
		margin-bottom: 30px;
	}
	p{text-align: center;}
}

.our-item{
	display: block;
	.box-img{
		border-radius: 14px;
		overflow: hidden;
	}
	.title{
		margin-bottom: 26px;
	}
	.box-content{
		margin-top: 30px;
		display: flex;
		align-items: center;
		gap: 26px;
		svg{
			flex-shrink: 0;
		}
	}
}
.tf-row-layout{
	display: flex;
	flex-direction: column-reverse;
	gap: 30px;
}
.tf-layout-content{
	.title{
		margin-bottom: 30px;
		color: #000000;
	}
	.box-p{
		margin-bottom: 30px;
		.h9{
			color: #1C1C1E;
			margin-bottom: 20px;
		}
		.title-license{
			margin-bottom: 10px;
		}
		p{

			&:not(:last-child,.text){
				margin-bottom: 20px;
			}
		}
	}
	.box-child{
		margin-top: 16px;
		.sub-title{
			font-size: 14px;
			line-height: 21px;
			font-family: var(--poppins);
			color: #1C1C1E;
			font-weight: 600;
			margin-bottom: 10px;
		}
	}

	.list-social{
		display: flex;
		gap: 8px;
	}
	.box-bottom{
		padding-top: 16px;
		border-top: 1px solid var(--line-2);
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
		flex-wrap: wrap;
		.left, .right{
			display: flex;
			gap: 9px;
			align-items: center;
		}
	}
	.tag{
		padding: 6px 10px;
		border: 1px solid var(--line-2);
		border-radius: 10px;
		font-size: 13px;
		line-height: 19.5px;
		font-weight: 600;
		color: #3A3A3C;
        &:hover{
            color: var(--primary);
        }
	}
	.box-list {
		padding-left: 20px;
		li{
			list-style: disc;
			font-size: 14px;
			line-height: 25.2px;
		}
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}
}

.sidebar-page-wrap{
	.box-categories{
		.title{
			margin-bottom: 20px;
		}
		.list-categories{
			li{
				&:not(:last-child){
					padding-bottom: 12px;
					margin-bottom: 12px;
					border-bottom: 1px solid var(--line-2);
				}
			}
			
		}
		.categories-item{
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			.text{
				font-size: 14px;
				line-height: 21px;
				font-weight: 600;
				color: var(--black-1);
			}
			&:hover{
				.text{
				color: var(--primary);

				}
			}
		}
	}
	.box-contact{
		margin-top: 40px;
	}
}
.box-contact{
	padding: 30px;
	border: 1px solid #F0F0F0;
	border-radius: 14px;
	background-color: #FAFAFA;
	.title{
		margin-bottom: 20px;
	}
	.tf-btn{
		margin-top: 24px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.box-top{
		margin-bottom: 24px;
		padding-bottom: 24px;
		border-bottom: 1px solid #F0F0F0;
	}
}

// blog
.flat-section-blog{
	.box{
		margin-bottom: 40px;
	}
}
.blog-item{
	.box-img{
        border-radius: 14px;
        overflow: hidden;
		display: block;
    }
	.archive-content{
		margin-top: 20px;
		.meta{
			display: flex;
			gap: 10px;
			align-items: center;
			.item{
				display: flex;
				align-items: center;
				gap: 4px;
				font-size: 12px;
				line-height: 13.2px;
				color: #7B7B7B;
				&:not(:last-child){
					padding-right: 10px;
					border-right: 1px solid #ECF0F4;
				}
			}
			.category{
				color: var(--primary);
			}
		}
		.title{
			margin-top: 8px;
		}
		.desc{
			margin-top: 20px;
			color: #7B7B7B;
		}
	}
}